<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link data-th-href="@{/css/main.css?{id}(id=${timestamp})}" rel="stylesheet">
    <title>Examen Técnico</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Alfredo Andrés Núñez Ugalde</div></a>
</nav>

<div class="card">
    <div class="card-header">
        Prueba en Local
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Api-Rates</h5>
                <p class="card-text">Api que regresa las conversiones de US a MNX de tres fuentes diferentes.</p>
                <a href="http://localhost:8080/rates/" class="btn btn-primary">Prueba Api</a>
            </div>
            <div class="col-6">
                <h5 class="card-title">Home</h5>
                <p class="card-text">Pantalla de inicio.</p>
                <a href="http://localhost:8080/" class="btn btn-info">Home</a>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Prueba en Server
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Api-Rates</h5>
                <p class="card-text">Api que regresa las conversiones de US a MNX de tres fuentes diferentes.</p>
                <a href="https://api-rates-stqxs6mlsq-uc.a.run.app/rates/" class="btn btn-primary">Prueba Api</a>
            </div>
            <div class="col-6">
                <h5 class="card-title">Home</h5>
                <p class="card-text">Pantalla de inicio.</p>
                <a href="https://api-rates-stqxs6mlsq-uc.a.run.app/" class="btn btn-info">Home</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>